{{#product}}
<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="position: relative;left: 95%;"></button>
    <div class="message-confirmation">
        <h1 style="text-align: center; font-family:sans-serif; font-size:xx-large;">DO YOU WANT IT IN YOUR ORDER?</h1>
    </div>

    <div class="image-confirmation" style="position: relative; text-align: center;">
        <img src="https://cdn-icons-gif.flaticon.com/6172/6172531.gif" 
             alt="cart-image-confirmation" 
             style="height: 150px; width: auto; display: block; margin: 0 auto;">

        <div style="margin-bottom: 4%;margin-left: 5%; margin-right: 5%;box-shadow: 0px 0px 7px 1px gray;display: flex; align-items: center; justify-content: center; gap: 20px; margin-top: 20px;">
            <img src="/shop/{{id}}/image/1" 
                 alt="Product Image" 
                 style="width: 30%; max-height: 30%;">

            <div class="info-confirmation" style="width: 50%; text-align: left; margin-top: 10px;">
                <div class="name-confirmation" style="text-transform: uppercase;">
                    <h4>{{name}}</h4>
                </div>
                <div class="size-confirmation">
                    <p style="font-weight: 700; text-transform: uppercase;">SIZE: <strong style="color: black;">M</strong><p>
                </div>
                <div class="price-confirmation">
                    <p style="font-weight: 700; text-transform: uppercase;">PRICE: <strong style="color: black;">${{price}}</strong></p>
                </div>
                <div class="description-confirmation">
                    <p style="font-weight: 400; color: black;font-family: sans-serif;">{{shortdescription}}</p>
                </div>
            </div>
        </div>
    </div>
    {{#error}}
    <div style="text-align: center;">
        <P>No Stock Available</P>
    </div>
        
    {{/error}}

    {{^error}}
    <div class="container-button-confirmation">
        <form action="#" method="POST">
            <button type="button" class="btn btn-red hvr-sweep-to-right dark-sweep" style=" display: block;margin: 0 auto;" onclick="AddtoCart('{{id}}','M',1)">
                Add to cart
            </button>
        </form>
    </div>
    {{/error}}
{{/product}}