{{#cartItems}}
<div class="order-item d-flex align-items-center" style="padding-bottom: 20px">
    <!-- Imagen del producto (lado izquierdo) -->
    <div class="col-lg-2 col-md-3 col-sm-2 me-4">
        <a href="#" title="product-image">
            <img src="/shop/{{id}}/image/1" class="img-fluid" alt="single-product-item">
        </a>
    </div>
    
    <!-- Información del producto (lado derecho) -->
    <div class="ms-3 flex-grow-1">
        <h5 class="mb-2">{{shoeName}}</h5>
        <div class="d-flex flex-column">
            <div class="price-wrapper mb-2">
                <span class="fw-bold">Price: {{price}}</span>
            </div>
            <div class="quantity-wrapper mb-2">
                <span>Quantity: {{quantity}}</span>
            </div>
            <div class="size-wrapper mb-2">
                <span>Size: {{size}}</span>
            </div>
        </div>
    </div>
</div>
{{/cartItems}}

{{^cartItems}}
<div>
    <p>
        error al cargar los items del zapato
    </p>
</div>
{{/cartItems}}