<div class="error-banner">
    <p>{{message}}</p>
</div>

<style>
/* Estilos para el banner */
.error-banner {
    background-color: #f8d7da; /* Rojo claro */
    color: black; /* Texto rojo oscuro */
    border: 1px solid #f5c6cb;
    padding: 15px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    
    /* Animación para desaparecer después de 5 segundos */
    animation: fadeOut 4s forwards;
}

p{
    color:black;
    font-family:Arial, Helvetica, sans-serif ;
    font-size:large;
}

/* Definición de la animación */
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    80% {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-50%) translateY(-20px);
    }
}
</style>
