.stars i {
  color: #e6e6e6;
  font-size: 23px;
  cursor: pointer;
  transition: color 0.2s ease;
}

.stars i.active {
  color: #000000;
}

.select-size-list {
  display: flex;
  gap: 10px;
}

.select-size-item {
  padding: 10px 15px;
  border: 2px solid transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.select-size-item a {
  text-decoration: none;
  color: black;
}

.select-size-item:hover {
  background: rgba(0, 0, 0, 0.1);
  border-color: rgba(0, 0, 0, 0.2);
}

.selected {
  background: rgba(0, 0, 0, 0.228);
  border-color: rgba(52, 34, 34, 0.369);
  box-shadow: 0px 0px 8px rgba(54, 2, 2, 0.222);;
}