<ng-container *ngIf="loading; else content">
  <div class="loading-container">
    <p>Cargando perfil...</p>
  </div>
</ng-container>

<ng-template #content>
  <div class="profile-container">

    <!-- Datos del perfil -->
    <app-profile-data *ngIf="!loading && !error"></app-profile-data>

    <!-- Historial de pedidos -->
    <app-order-history *ngIf="!loading && !error"></app-order-history>

    <!-- Gráfico de gastos -->
    <app-user-spending-chart *ngIf="!loading && !error"></app-user-spending-chart>
  </div>
</ng-template>