<section id="selling-product" class="single-product py-2 my-2 py-md-5 my-md-5" *ngIf="product">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-8">
                <div class="row flex-column-reverse flex-lg-row">
                    <div class="col-md-12 col-lg-2">
                        <!-- product-thumbnail-slider -->
                        <div class="swiper product-thumbnail-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img [src]="shoeService.getImageUrl(product.id, 1)" [alt]="product.name"
                                        class="thumb-image img-fluid">
                                </div>
                                <div class="swiper-slide">
                                    <img [src]="shoeService.getImageUrl(product.id, 2)" [alt]="product.name"
                                        class="thumb-image img-fluid">
                                </div>
                                <div class="swiper-slide">
                                    <img [src]="shoeService.getImageUrl(product.id, 3)" [alt]="product.name"
                                        class="thumb-image img-fluid">
                                </div>
                            </div>
                        </div>
                        <!-- / product-thumbnail-slider -->
                    </div>
                    <div class="col-md-12 col-lg-10">
                        <!-- product-large-slider -->
                        <div class="swiper product-large-slider">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <div class="image-zoom" data-scale="2.5" data-image="images/product-large-1.jpg">
                                        <img [src]="shoeService.getImageUrl(product.id, 1)" [alt]="product.name"
                                            class="img-fluid">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-zoom" data-scale="2.5" data-image="images/product-large-2.jpg">
                                        <img [src]="shoeService.getImageUrl(product.id, 2)" [alt]="product.name"
                                            class="img-fluid">
                                    </div>
                                </div>
                                <div class="swiper-slide">
                                    <div class="image-zoom" data-scale="2.5" data-image="images/product-large-3.jpg">
                                        <img [src]="shoeService.getImageUrl(product.id, 3)" [alt]="product.name"
                                            class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-pagination"></div>
                        </div>
                        <!-- / product-large-slider -->
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="product-info">
                    <div class="element-header">
                        <h3 itemprop="name" class="display-6 fw-bold">{{product.name}}</h3>
                    </div>
                    <div class="product-price py-3">
                        <strong class="fs-5 fw-bold">${{product.price}}</strong>
                    </div>
                    <p>{{product.shortdescription}}</p>

                    <div *ngIf="loginService.logged; else loginRequired">
                        <div class="cart-wrap padding-small">
                            <div class="swatch product-select" data-option-index="1">
                                <h5 class="widget-title text-decoration-underline pe-2">Size:</h5>
                                <ul class="select-size-list list-unstyled d-flex">
                                    <li data-value="XL" class="select-size-item"
                                        [style.pointer-events]="isSizeOutOfStock('XL') ? 'none' : 'auto'"
                                        [style.backgroundColor]="isSizeOutOfStock('XL') ? 'grey' : ''"
                                        (click)="selectSize('XL')">
                                        <a href="#">XL</a>
                                    </li>
                                    <li data-value="L" class="select-size-item"
                                        [style.pointer-events]="isSizeOutOfStock('L') ? 'none' : 'auto'"
                                        [style.backgroundColor]="isSizeOutOfStock('L') ? 'grey' : ''"
                                        (click)="selectSize('L')">
                                        <a href="#">L</a>
                                    </li>
                                    <li data-value="M" class="select-size-item"
                                        [style.pointer-events]="isSizeOutOfStock('M') ? 'none' : 'auto'"
                                        [style.backgroundColor]="isSizeOutOfStock('M') ? 'grey' : ''"
                                        (click)="selectSize('M')">
                                        <a href="#">M</a>
                                    </li>
                                    <li data-value="S" class="select-size-item"
                                        [style.pointer-events]="isSizeOutOfStock('S') ? 'none' : 'auto'"
                                        [style.backgroundColor]="isSizeOutOfStock('S') ? 'grey' : ''"
                                        (click)="selectSize('S')">
                                        <a href="#">S</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product-quantity">
                                <div class="stock-button-wrap pt-3">
                                    <div class="quantity-price d-flex justify-content-between align-items-center">
                                        <div class="input-group product-qty">
                                            <button type="button"
                                                class="quantity-left-minus btn btn-light rounded-0 rounded-start btn-number"
                                                (click)="decreaseQuantity()">
                                                <svg width="16" height="16">
                                                    <use xlink:href="#minus"></use>
                                                </svg>
                                            </button>
                                            <input type="text" name="quantity"
                                                class="form-control input-number quantity" [value]="quantity" readonly>
                                            <button type="button"
                                                class="quantity-right-plus btn btn-light rounded-0 rounded-end btn-number"
                                                (click)="increaseQuantity()">
                                                <svg width="16" height="16">
                                                    <use xlink:href="#plus"></use>
                                                </svg>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="qty-button d-flex flex-wrap pt-3">
                                        <button type="submit" name="add-to-cart" (click)="addToCart()"
                                            class="btn btn-outline-gray text-uppercase mt-3 hvr-sweep-to-right">Add to
                                            cart</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <ng-template #loginRequired>
                        <a routerLink="/login" class="btn btn-red hvr-sweep-to-right dark-sweep w-100"
                            style="margin-top: 30px; margin-bottom: 30px;">Login to buy</a>
                    </ng-template>

                    <div class="meta-product padding-small" style="padding-top: 5px">
                        <div class="meta-item d-flex align-items-baseline">
                            <h5 class="widget-title text-decoration-underline pe-2">Category:</h5>
                            <ul class="select-list list-unstyled d-flex">
                                <li data-value="S" class="select-item">
                                    <a href="#">{{product.category}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="meta-item d-flex align-items-baseline">
                            <h5 class="widget-title text-decoration-underline pe-2">Brand:</h5>
                            <ul class="select-list list-unstyled d-flex">
                                <li data-value="S" class="select-item">{{product.brand}}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="product-info-tabs">
    <div class="container">
        <div class="row">
            <div class="tabs-listing">
                <nav>
                    <div class="nav nav-tabs d-flex flex-wrap justify-content-center" id="nav-tab" role="tablist">
                        <button class="nav-link active text-dark fs-5" id="nav-home-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                            aria-selected="true">Description</button>
                        <button class="nav-link text-dark fs-5" id="nav-review-tab" data-bs-toggle="tab"
                            data-bs-target="#nav-review" type="button" role="tab" aria-controls="nav-review"
                            aria-selected="false">Reviews</button>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <!-- Descripción -->
                    <div class="tab-pane fade show active padding-small" id="nav-home" role="tabpanel"
                        aria-labelledby="nav-home-tab">
                        <p>Product Description</p>
                        <p>{{ product?.longDescription }}</p>
                    </div>

                    <!-- Reseñas -->
                    <div class="tab-pane fade padding-small" id="nav-review" role="tabpanel"
                        aria-labelledby="nav-review-tab">
                        <div id="ReviewsList">
                            <div class="review-box d-flex flex-wrap">
                                <!-- Lista de reseñas -->
                                <ng-container *ngIf="reviews && reviews.length > 0; else noReviews">
                                    <div *ngFor="let r of reviews" class="col-lg-6 d-flex flex-wrap">
                                        <div class="col-md-2 me-3 mb-3">
                                            <div class="image-wrapper mb-3">
                                                <img [src]="userService.getUserImage(r.userId)"alt="review"
                                                    class="rounded-circle"
                                                    style="width: 75px; height: 75px; object-fit: cover;">
                                            </div>
                                        </div>

                                        <div class="col-md-8">
                                            <div class="review-content">
                                                <div class="rating-container d-flex align-items-center mb-3">
                                                    <div class="rating">
                                                        <span>Rating: {{r.rating}}/5</span>
                                                        <i *ngFor="let i of getStarsArray(r.rating)" class="fa-solid fa-star"></i>
                        
                                                    </div>
                                                </div>
                                                <div class="review-header">
                                                    <span class="author-name">{{ r.userName }} </span>
                                                    <span class="review-date">{{ r.date }}</span>
                                                </div>
                                                <p id="textReview">{{ r.description }}</p>
                                            </div>

                                            <button *ngIf="isAdmin" id="deleteReviewButton"
                                                (click)="deleteReview(r.id)" style="padding-top: 30px;">
                                                <i class="fa-solid fa-trash"></i>
                                            </button>
                                        </div>
                                    </div>
                                </ng-container>

                                <!-- Si no hay reseñas -->
                                <ng-template #noReviews>
                                    <div class="col-lg-12 d-flex justify-content-center">
                                        <div class="review-content">
                                            <p>No reviews yet</p>
                                        </div>
                                    </div>
                                </ng-template>
                            </div>

                            <!-- Botón de cargar más -->
                            <div *ngIf="reviews &&reviews.length > 0" id="loadMoreReviewsButtom">
                                <div class="btn-wrap">
                                    <button *ngIf="product"class="btn btn-black btn-medium text-uppercase hvr-sweep-to-right"
                                        style="margin-bottom: 30px;" (click)="loadMoreReviews(product.id)">
                                        More Reviews
                                    </button>
                                </div>
                            </div>

                            <!-- Formulario -->
                            <div class="add-review mt-5">
                                <h3>Add a review</h3>
                                <p>Your personal information will not be published. Required fields are marked *</p>
                                <form [formGroup]="reviewForm" (ngSubmit)="submitReview()">
                                    <div class="pb-3" style="width:11%">
                                        <label>Your Rating *</label>
                                        <select class="form-control" formControlName="rating" required>
                                            <option value="" disabled selected>Select a rating</option>
                                            <option *ngFor="let n of [1,2,3,4,5]" [value]="n">{{ n }}</option>
                                        </select>
                                    </div>
                                    <div class="pb-3">
                                        <label>Your Review *</label>
                                        <textarea class="form-control" placeholder="Write your review here"
                                            formControlName="description" required></textarea>
                                    </div>
                                    <button type="submit"
                                        class="btn btn-dark btn-large text-uppercase w-100">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>